* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @media only screen and (min-width: 650px) {
        font-size: 70%;
    }

    @media only screen and (min-width: 960px) {
        font-size: 75%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    box-sizing: border-box;
    position: relative;
}

button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}
